doctype html
html(lang="en")
    head 
        include ../_partials/head
        title RSVP
    
    bode
        include ../_partials/nav
        main.invite-section.section
            .container.flex.invite-card
                form(action="#")
                    input(type="text")