doctype html
html(lang="en")
    head 
        include ../_partials/head
        //- My scripts
        script(src="/js/main.js" defer)

        //- My CSS
        link(rel="stylesheet" href="/css/main.css")

        title Molly &amp; Philip 2023 | Thanks
    
    body
        include ../_partials/nav
        main.section.container
           h1.text-4xl Thanks for filling out the RSVP
           h2.text-xl See you soon <3
