doctype html

head(lang="en")
    include _partials/head
    
body
    include _partials/nav
    include _partials/invite
    include _partials/engagement

    .gallery-separator 
        .gallery-image.img-1

    include _partials/sustainability

    .gallery-separator 
        .gallery-image.img-2
    
    include _partials/timeline

    .gallery-separator 
        .gallery-image.img-3
    
    include _partials/party

    .gallery-separator 
        .gallery-image.img-4
    
    include _partials/accomodations

    footer.flex
        a(href="#")
            include _partials/mollip.svg
        
        p &copy; Copyright 2022-2023 Molly and Philip
    
    //- Register Service Worker
    script.
      if ("serviceWorker" in navigator) {
        navigator.serviceWorker.register("/serviceworker.js");
      }
