#accommodations.accomodations
    .container.section
        h1.text-4xl.center.mb Accommodations
        p.mb.
            For all our out-of-town guests, we are happy to share that there are accommodations available at the reception venue, Ivey Spencer Leadership Centre. <br>
            #[a(href="https://book.passkey.com/e/50369410" target="_blank") Book Ivey Spencer Here]. (Although the title of the booking link says July, when you click the
            check-in box, it will give you dates for April)

        p.mb.    
            Please phone Ivey Spencer on Saturday morning if you would prefer an earlier check-in than 3pm: 1-833-798-4494
        
        p.mb.
            Located away from public areas, all 125 guestrooms feature “Inspiring Beds” - guaranteed to ensure a restful night's sleep. With parkland views and warm and comfortable surroundings, the guestrooms provide relaxation, peace and privacy.
        
        p Amenities at Ivey Spencer include:

        ul.mb
            -
                var amenities = 
                [
                    "Complimentary wireless internet",
                    "Individual coffee makers",
                    "Mini fridge in each room",
                    "Flat screen television",
                    "Iron and ironing board",
                ]
            each amenity in amenities
                li= amenity
        
      
        //- p.mb.
        //-     Alternative accommodations may be found at #[a(href="https://guesthouseonthemount.ca/") Guesthouse on the Mount] for more booking just a short walk away!<br>
        //-     Starting at just $70 a night (with limited options)