main#invitation.invite-section.section 
    .container.flex.invite-card 
        div 
            h1.text-3xl.center SAVE THE DATE
            p.text-lg.center FOR THE WEDDING OF

        div 
            h2.text-4xl.center MOLLY FISHER
            h2.text-4xl.center &amp;
            h2.text-4xl.center PHILIP HABIB
        
        div
            p.center -
            p.text-2xl.center April 22, 2023
            p.center -
        
        button#rsvp-button.rsvp-button.text-lg Save The Date
