main.invite-section.section 
    .container.flex.invite-card 
        div 
            h1.text-3xl.center SAVE THE DATE
            h2.text-lg.center FOR THE WEDDING OF

        div 
            h1.text-4xl.center MOLLY FISHER
            h1.text-4xl.center &amp;
            h1.text-4xl.center PHILIP HABIB
        
        div
            p.center -
            h3.text-2xl.center April 22, 2023
            p.center -
        
        //- button#rsvp-button.rsvp-button.text-lg Save The Date
        a(href="/rsvp")
            button.rsvp-button.text-lg Save The Date
