header.header: .container.flex 
    div
        a(href="/#")
            img.navicon(src="/imgs/icons/mollip.svg" alt="MP" width="71" height="32")

    button.mobile-nav-toggle(aria-controls="navbar" aria-expanded="false")
        span.sr-only Menu
    
    nav: ul#navbar.navbar.flex(data-visible="false")
        li: a.mobile-logo(href="#")
            img.navicon(src="/imgs/icons/mollip.svg" alt="MP" width="71" height="32")
        -
            var navItems = [
                { name: "Engagement", icon: "/imgs/icons/diamond.svg", slug: "engagement" },
                { name: "Sustainability", icon: "/imgs/icons/compost.svg", slug: "sustainability" },
                { name: "Timeline", icon: "/imgs/icons/timeline.svg", slug: "timeline" },
                { name: "The Party", icon: "/imgs/icons/groups.svg", slug: "party" },
                { name: "Accommodations", icon: "/imgs/icons/hotel.svg", slug: "accommodations" },
            ]
        each navItem in navItems
            li: a.flex(href=`/#${navItem.slug}`) 
                img.icon(src=navItem.icon alt=navItem.slug+' icon' width="16" height="16")
                span= navItem.name